<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c8eb65">  <td>23/05/11 10:55:34</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Aha_OTT.launchbrowser()[pri:0, instance:Ahaott.Aha_OTT@3646a422]">&gt;&gt;launchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2083999882</td>   <td></td> </tr>
<tr bgcolor="c8eb65">  <td>23/05/11 10:55:40</td>   <td>5732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Aha_OTT.ahaott()[pri:0, instance:Ahaott.Aha_OTT@3646a422]">ahaott</td> 
  <td>main@2083999882</td>   <td></td> </tr>
</table>
